<% include ./partials/header %>
    
    <div class="container mt60">

      <div class="well">
        <h1>Ooops!</h1>
        <p class="lead">Sorry, this page doesn't exist!<br />You can see a list of current staff <a href='/staff/list'>here</a> or add a new member of staff <a href='/staff/new'>here</a>.</p>
      </div>

    </div><!-- /.container -->

<% include ./partials/footer %>